.elements {
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .elements {
        padding-left: 35px;
        padding-right: 35px;
    }

}

@media (min-width: 1024px) {
    .elements {
        padding-left: 0;
        padding-right: 0;
    }

}