.profile__button {
    display: flex;
    align-self: start;
    transition: opacity 0.5s linear;
    min-width: 18px;
    min-height: 18px;
    margin: 8px 0 0 10px;
    padding: 0;
    cursor: pointer;
    background-image: url("../../../images/profile-button.svg");
    background-color: #000000;
    background-size: contain;
    border-style: none;
    background-repeat: no-repeat;
}

.profile__button:hover {
    opacity: 0.6;
}

@media (min-width: 880px) {
    .profile__button {
        margin-left: 18px;
        min-width: 24px;
        margin-top: 15px;
        min-height: 24px;
    }

}
